bin
*.sublime-project
passwords.txt
fitnesse.sh.old
*.bak
passwordMap
*.sublime-workspace
/FitNesseRoot/FitNesse
.releaseInfo
*.zip
*.old
*.log
*.iml
*.ipr
*.iws
test-results
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
FitNesseRoot/TemplateLibrary/
.idea/
