<ul class="nav navbar-nav">
 <li><a href="/FitNesseFeatures">Features</a></li>
 <li><a href="/FitNesseDownload">Download</a></li>
 <li><a href="/PlugIns">Plug-ins</a></li>
 <li><a href="/FitNesse.UserGuide">User Guide</a></li>
</ul>
